*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: aquamarine;
}

.table-style{
    background-color: gray;
}

.table-style--2{
    background-color: antiquewhite;
}

